.mainImg {
    width: 1500px;
    height: 450px;
    background-color: brown;
    margin: auto;
}

.contents {
    margin: 0 auto;
    width: 1500px;
    height: 3000px;
    background-color: burlywood;
}
